**/target
.idea
/src/net/NBT_CODEC.nbt
/src/net/NBT_CODEC.zlib
**/rustc-ice*
.zed
/data
chunk.json
dummyregion.mca
config.toml
import/*
blocks.json

blockstates.json

flame.svg

logs/
newblocks.json

.etc/*
!.etc/blockmappings.bz2
