**/target
.idea
/src/net/NBT_CODEC.nbt
/src/net/NBT_CODEC.zlib
**/rustc-ice*
.zed
/data
chunk.json
dummyregion.mca
.etc
!.etc/blocks.json
config.toml
import/*
blocks.json

blockstates.json

flame.svg

logs/
newblocks.json