# FerrumC Project workspace
#
# Layout of this file:
# - Members of the workspace.
# - Profile compilation settings.
# - Workspace lints
# - Workspace dependencies.

[workspace]
resolver = "2"

#================= Members =================#
members = [
    "src/bin",
    "src/lib/core",
    "src/lib/ecs",
    "src/lib/events",
    "src/lib/net",
    "src/lib/net/crates/encryption",
    "src/lib/net/crates/codec",
    "src/lib/plugins",
    "src/lib/storage",
    "src/lib/utils", "src/lib/utils/logging", "src/lib/utils/profiling", "src/lib/utils/general_purpose",
    "src/lib/world",
    "src/lib/derive_macros",
    "src/lib/adapters/nbt", "src/lib/adapters/mca",
    "src/tests", "src/lib/adapters/anvil",
    "src/lib/text",
]

#================== Lints ==================#
[workspace.lints.rust]
unsafe_code = "deny"
unused_unsafe = "deny"
#unsafe_op_in_unsafe_fn = "deny"
#unused_crate_dependencies = "deny"
unused_import_braces = "deny"
unused_lifetimes = "deny"
keyword_idents_2018 = "deny"
keyword_idents_2024 = "deny"
missing_abi = "deny"
future_incompatible = { level = "deny", priority = -1 }

[workspace.lints.clippy]
borrow_as_ptr = "deny"
case_sensitive_file_extension_comparisons = "deny"
cast_lossless = "deny"
cast_ptr_alignment = "deny"
match_bool = "deny"
mut_mut = "deny"
wildcard_dependencies = "deny"
redundant_type_annotations = "deny"
infinite_loop = "deny"

#================= Profile =================#
[profile.release]
lto = true
strip = "symbols"
codegen-units = 1
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
panic = "abort"

[profile.dev]
lto = false
opt-level = 1
split-debuginfo = "unpacked"

#=============== Dependencies ==============#
[workspace.dependencies]
# Workspace members
ferrumc-core = { path = "src/lib/core" }
ferrumc-ecs = { path = "src/lib/ecs" }
ferrumc-events = { path = "src/lib/events" }
ferrumc-net = { path = "src/lib/net" }
ferrumc-text = { path = "src/lib/text" }
ferrumc-net-encryption = { path = "src/lib/net/crates/encryption" }
ferrumc-net-codec = { path = "src/lib/net/crates/codec" }
ferrumc-plugins = { path = "src/lib/plugins" }
ferrumc-storage = { path = "src/lib/storage" }
ferrumc-utils = { path = "src/lib/utils" }
ferrumc-profiling = { path = "src/lib/utils/profiling" }
ferrumc-logging = { path = "src/lib/utils/logging" }
ferrumc-config = { path = "src/lib/utils/config" }
ferrumc-general-purpose = { path = "src/lib/utils/general_purpose" }
ferrumc-macros = { path = "src/lib/derive_macros" }
ferrumc-world = { path = "src/lib/world" }
ferrumc-nbt = { path = "src/lib/adapters/nbt" }
ferrumc-anvil = { path = "src/lib/adapters/anvil" }
ferrumc-tests = { path = "src/tests" }


# Asynchronous
tokio = { version = "1.40.0", features = ["full"] }
socket2 = "0.5.7"
futures = "0.3.30"
async-trait = "0.1.82"

# Logging
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
log = "0.4.22"

# Concurrency/Parallelism
parking_lot = "0.12.3"
rayon = "1.10.0"
crossbeam = "0.8.4"

# Network

# Error handling
thiserror = "1.0.63"

# Cryptography
rsa = "0.9.6"
rand = "0.9.0-alpha.2"
fnv = "1.0.7"

# Encoding/Serialization
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
serde_derive = "1.0.210"
base64 = "0.22.1"
bitcode = "0.6.3"
bitcode_derive = "0.6.3"

# Data types
hashbrown = "0.15.0"
tinyvec = "1.8.0"
dashmap = "6.1.0"
uuid = { version = "1.1", features = ["v4", "v3", "serde"] }

# Macros
lazy_static = "1.5.0"
quote = "1.0.37"
syn = "2.0.77"
proc-macro2 = "1.0.86"
proc-macro-crate = "3.2.0"
paste = "1.0.15"
maplit = "1.0.2"
macro_rules_attribute = "0.2.0"

# Magic ("life-before-main" initialization, __attribute__((constructor)))
ctor = "0.2.8"

# Compression/Decompression
libflate = "2.1.0"
flate2 = { version = "1.0.33", features = ["zlib"], default-features = false }
zstd = { version = "0.13.2" }
brotli = "7.0.0"
lzzzz = "1.1.0"
yazi = "0.2.0"
bzip2 = "0.4.1"

# CLI
clap = "4.5.20"
indicatif = "0.17.8"
colored = "2.1.0"

# Misc
deepsize = "0.2.0"

# I/O
tempfile = "3.12.0"
memmap2 = "0.9.5"

# Benchmarking
criterion = { version = "0.5.1", features = ["html_reports"] }

[profile.hyper]
inherits = "release"
lto = true
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
panic = "abort"
codegen-units = 1