# FerrumC Project workspace
#
# Layout of this file:
# - Members of the workspace.
# - Profile compilation settings.
# - Workspace lints
# - Workspace dependencies.


[workspace]
resolver = "2"

#================= Members =================#
members = [
    "src/bin",
    "src/lib/adapters/anvil",
    "src/lib/adapters/anvil",
    "src/lib/adapters/nbt",
    "src/lib/adapters/nbt",
    "src/lib/commands",
    "src/lib/default_commands",
    "src/lib/core",
    "src/lib/core/state",
    "src/lib/derive_macros",
    "src/lib/derive_macros",
    "src/lib/net",
    "src/lib/net/crates/codec",
    "src/lib/net/crates/encryption",
    "src/lib/plugins",
    "src/lib/storage",
    "src/lib/text",
    "src/lib/utils",
    "src/lib/utils/general_purpose",
    "src/lib/utils/logging",
    "src/lib/utils/profiling",
    "src/lib/world",
    "src/lib/world_gen",
    "src/lib/utils/threadpool",
    "src/lib/inventories",
    "src/lib/registry",
    "src/lib/scheduler",
]

#================== Lints ==================#
[workspace.lints.rust]
unsafe_code = "allow"
unused_unsafe = "deny"
#unsafe_op_in_unsafe_fn = "deny"
#unused_crate_dependencies = "deny"
unused_import_braces = "deny"
unused_lifetimes = "deny"
keyword_idents_2018 = "deny"
keyword_idents_2024 = "deny"
missing_abi = "deny"
future_incompatible = { level = "deny", priority = -1 }

[workspace.lints.clippy]
borrow_as_ptr = "deny"
case_sensitive_file_extension_comparisons = "deny"
cast_lossless = "deny"
cast_ptr_alignment = "deny"
match_bool = "deny"
mut_mut = "deny"
wildcard_dependencies = "deny"
redundant_type_annotations = "deny"
infinite_loop = "deny"

#================= Profile =================#
[profile.profiling]
inherits = "release"
debug = true

[profile.release]

[profile.hyper]
inherits = "release"
strip = "symbols"
lto = true
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
panic = "abort"
codegen-units = 1

[profile.bench]
debug = true

#=============== Dependencies ==============#
[workspace.dependencies]
# Workspace members
ferrumc-anvil = { path = "src/lib/adapters/anvil" }
ferrumc-config = { path = "src/lib/config" }
ferrumc-core = { path = "src/lib/core" }
ferrumc-default-commands = { path = "src/lib/default_commands" }
ferrumc-commands = { path = "src/lib/commands" }
ferrumc-general-purpose = { path = "src/lib/utils/general_purpose" }
ferrumc-logging = { path = "src/lib/utils/logging" }
ferrumc-macros = { path = "src/lib/derive_macros" }
ferrumc-nbt = { path = "src/lib/adapters/nbt" }
ferrumc-net = { path = "src/lib/net" }
ferrumc-net-codec = { path = "src/lib/net/crates/codec" }
ferrumc-net-encryption = { path = "src/lib/net/crates/encryption" }
ferrumc-plugins = { path = "src/lib/plugins" }
ferrumc-profiling = { path = "src/lib/utils/profiling" }
ferrumc-registry = { path = "src/lib/registry" }
ferrumc-scheduler = { path = "src/lib/scheduler" }
ferrumc-state = { path = "src/lib/core/state" }
ferrumc-storage = { path = "src/lib/storage" }
ferrumc-text = { path = "src/lib/text" }
ferrumc-threadpool = { path = "src/lib/utils/threadpool" }
ferrumc-utils = { path = "src/lib/utils" }
ferrumc-world = { path = "src/lib/world" }
ferrumc-world-gen = { path = "src/lib/world_gen" }
ferrumc-inventories = { path = "src/lib/inventories" }

# Asynchronous
tokio = { version = "1.47.1", features = ["macros", "net", "rt", "sync", "time", "io-util", "test-util"], default-features = false }

# Logging
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
tracing-appender = "0.2.3"
log = "0.4.27"
console-subscriber = "0.4.1"

# Concurrency/Parallelism
parking_lot = "0.12.4"
rayon = "1.11.0"
crossbeam-channel = "0.5.15"
rusty_pool = "0.7.0"
crossbeam-queue = "0.3.12"

# Network
reqwest = { version = "0.12.22", features = ["json"] }
ureq = "3.1.0"

# Error handling
thiserror = "2.0.15"

# Cryptography
rand = "0.9.2"
fnv = "1.0.7"
wyhash = "0.6.0"
ahash = "0.8.12"
cthash = "0.9.0"

# Encoding/Serialization
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.142"
serde_derive = "1.0.219"
serde_yaml_ng = "0.9.36"
base64 = "0.22.1"
bitcode = "0.6.7"
bitcode_derive = "0.6.7"
toml = "0.9.5"
craftflow-nbt = "2.1.0"
figment = { version = "0.10.19", features = ["toml", "env"] }
simd-json = "0.15.1"

# Bit manipulation
byteorder = "1.5.0"

# Data types
dashmap = "7.0.0-rc2"
uuid = { version = "1.18.0", features = ["v4", "v3", "serde"] }
indexmap = { version = "2.10.0", features = ["serde"] }

# Macros
lazy_static = "1.5.0"
quote = "1.0.40"
syn = "2.0.106"
proc-macro2 = "1.0.101"
proc-macro-crate = "3.3.0"
paste = "1.0.15"
maplit = "1.0.2"
macro_rules_attribute = "0.2.2"

# Magic
dhat = "0.3.3"
ctor = "0.4.2"

# Compression/Decompression
flate2 = { version = "1.1.2", features = ["zlib"], default-features = false }
lzzzz = "2.0.0"
yazi = "0.2.1"
bzip2 = "0.6.0"
lz4_flex = "0.11.5"

# Database
heed = "0.22.0"
moka = "0.12.10"

# CLI
clap = "4.5.45"
indicatif = "0.18.0"
colored = "3.0.0"

# Misc
deepsize = "0.2.0"
page_size = "0.6.0"
enum-ordinalize = "4.3.0"
regex = "1.11.1"
ctrlc = "3.4.7"
num_cpus = "1.17.0"
typename = "0.1.2"
bevy_ecs = { version = "0.16.1", features = ["multi_threaded", "trace"] }
bevy_math = "0.16.1"
once_cell = "1.21.3"
itertools = "0.14.0"
const-str = "0.7.0"

# I/O
memmap2 = "0.9.7"
tempfile = "3.20.0"

# Benchmarking
criterion = { version = "0.7.0", features = ["html_reports"] }
