# FerrumC Project workspace
#
# Layout of this file:
# - Members of the workspace.
# - Profile compilation settings.
# - Workspace lints
# - Workspace dependencies.

[workspace]
resolver = "2"

#================= Members =================#
members = [
    "src/bin",
    "src/lib/core",
    "src/lib/ecs",
    "src/lib/events",
    "src/lib/net",
    "src/lib/net/crates/encryption", "src/lib/net/crates/codec",
    "src/lib/plugins",
    "src/lib/storage",
    "src/lib/utils", "src/lib/utils/logging", "src/lib/utils/profiling",
    "src/lib/world",
    "src/lib/derive_macros",
    "src/lib/adapters/nbt", "src/lib/adapters/mca",
    "src/tests",
]

#================== Lints ==================#
[workspace.lints.rust]
unsafe_code = "deny"
unused_unsafe = "deny"
#unsafe_op_in_unsafe_fn = "deny"
#unused_crate_dependencies = "deny"
unused_import_braces = "deny"
unused_lifetimes = "deny"
keyword_idents_2018 = "deny"
keyword_idents_2024 = "deny"
missing_abi = "deny"
future_incompatible = { level = "deny", priority = -1 }

[workspace.lints.clippy]
borrow_as_ptr = "deny"
case_sensitive_file_extension_comparisons = "deny"
cast_lossless = "deny"
cast_ptr_alignment = "deny"
match_bool = "deny"
mut_mut = "deny"
wildcard_dependencies = "deny"
redundant_type_annotations = "deny"
infinite_loop = "deny"

#================= Profile =================#
[profile.release]
lto = true
strip = "symbols"
codegen-units = 1
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
panic = "abort"

[profile.dev]
lto = false
opt-level = 1
split-debuginfo = "unpacked"

#=============== Dependencies ==============#
[workspace.dependencies]
# Workspace members
ferrumc-core = { path = "src/lib/core" }
ferrumc-ecs = { path = "src/lib/ecs" }
ferrumc-events = { path = "src/lib/events" }
ferrumc-net = { path = "src/lib/net" }
ferrumc-net-encryption = { path = "src/lib/net/crates/encryption" }
ferrumc-net-codec = { path = "src/lib/net/crates/codec" }
ferrumc-plugins = { path = "src/lib/plugins" }
ferrumc-storage = { path = "src/lib/storage" }
ferrumc-utils = { path = "src/lib/utils" }
ferrumc-profiling = { path = "src/lib/utils/profiling" }
ferrumc-logging = { path = "src/lib/utils/logging" }
ferrumc-config = { path = "src/lib/utils/config" }
ferrumc-macros = { path = "src/lib/derive_macros" }
ferrumc-world = { path = "src/lib/world" }
ferrumc-nbt = { path = "src/lib/adapters/nbt" }
ferrumc-mca = { path = "src/lib/adapters/mca" }
ferrumc-tests = { path = "src/tests" }


# Asynchronous
tokio = { version = "1.40.0", features = ["full"] }
futures = "0.3.30"
async-trait = "0.1.82"

# Logging
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
log = "0.4.22"

# Concurrency/Parallelism
parking_lot = "0.12.3"
rayon = "1.10.0"
crossbeam = "0.8.4"

# Network

# Error handling
thiserror = "1.0.63"

# Cryptography
rsa = "0.9.6"
rand = "0.9.0-alpha.2"

# Encoding/Serialization
serde = "1.0.210"
serde_json = "1.0.128"
serde_derive = "1.0.210"

# Data types
hashbrown = "0.14.5"
tinyvec = "1.8.0"
dashmap = "6.1.0"

# Macros
lazy_static = "1.5.0"
quote = "1.0.37"
syn = "2.0.77"
proc-macro2 = "1.0.86"

# Magic ("life-before-main" initialization, __attribute__((constructor)))
ctor = "0.2.8"

# Compression/Decompression
libflate = "2.1.0"
flate2 = { version = "1.0.33" }
zstd = { version = "0.13.2" }
brotli = "6.0.0"

# Databases
redb = "2.1.3"
surrealkv = "0.3.6"
sled = "0.34.7"
rocksdb = "0.22.0"

# I/O
tempfile = "3.12.0"


# Benchmarking
criterion = { version = "0.5.1", features = ["html_reports"] }
