[package]
name = "ferrumc"
description = "A high-performance Minecraft server implementation, crafted in Rust for unparalleled speed and efficiency."
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = { workspace = true }

ferrumc-core = { workspace = true }
ferrumc-ecs = { workspace = true }
ferrumc-events = { workspace = true }
ferrumc-net = { workspace = true }
ferrumc-net-encryption = { workspace = true }
ferrumc-net-packets = { workspace = true }
ferrumc-plugins = { workspace = true }
ferrumc-storage = { workspace = true }
ferrumc-utils = { workspace = true }
ferrumc-profiling = { workspace = true }
ferrumc-logging = { workspace = true }
ferrumc-world = { workspace = true }
ferrumc-macros = { workspace = true }

ctor = { workspace = true }
parking_lot = { workspace = true }
tracing = { workspace = true }
tokio = { workspace = true }

[[bin]]
name = "ferrumc"
path = "src/main.rs"
